.container-event-list {
  margin: auto 5%;
  padding: 20px;
}

.title {
  color: #e6c068;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.header-ManagementEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #444;
  color: #fff;
  background-color: #1f2029;
}

.table th {
  background-color: #3a3b47;
  color: #e6c068;
}

.btn {
  background-color: #e6c068;
  color: #1f2029;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #d4a850;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #3a3b47;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #444;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #1f2029;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  color: #fff;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  margin-bottom: 5px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons .btn {
  width: 48%;
}

.modal-buttons .btn-secondary {
  background-color: #444;
}

.modal-buttons .btn-secondary:hover {
  background-color: #666;
}
