/* Header.css */
.header {
  width: 100%;
  background-color: #1f2029;
  color: #e6c068;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #e6c068;
}

.logo-image {
  height: 2.5em;
  margin-right: 0.8em;
}

.logo-text {
  font-size: 2em;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #e6c068;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.nav-link:hover {
  color: white;
}

.nav-link:focus,
.nav-link:active {
  color: white;
  outline: none;
  border-bottom: 3px solid white;
}
