.container-event-list {
  margin: auto 5%;
  padding: 20px;
}

.title {
  color: #ffffffbc;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.header-ManagementEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-addEvent {
  background: #2b2c34;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #444;
  color: #ffffffbc;
  background-color: #1f2029;
}

.table th {
  color: #e6c068;
  font-size: 1.1em;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 50%;
}

.btn-dropdown {
  background-color: #e6c068;
  color: #1f2029;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.btn-dropdown:hover {
  background-color: #d4a850;
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #3a3b47;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  background-color: transparent;
  color: #fff;
  padding: 8px 16px;
  text-align: left;
  width: 100%;
  border: none;
  cursor: pointer;
}

.dropdown-item:hover {
  color: #d4a850;
  background: #3a3b47;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #1f2029;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
}

.modal h2 {
  color: #e6c068;
  margin-bottom: 20px;
}

.modal label {
  color: #e6c068;
  margin-bottom: 8px;
  display: block;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2b2c34;
  color: #fff;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-buttons .btn {
  margin-left: 10px;
}

.form-error {
  color: red;
  margin: 10px auto;
  font-size: 14px;
}
