.about-us-container {
  margin: auto 5%;
  padding: 20px;
  color: #ffffffbc;
  background-color: #1f2029;
}

.about-us-header {
  text-align: center;
  margin-bottom: 40px;
}

.about-us-header h1 {
  color: #e6c068;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.about-us-header p {
  font-size: 1.2em;
}

.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.team-member {
  display: flex;
  align-items: center;
  background-color: #2b2c34;
  padding: 20px;
  border-radius: 10px;
}

.team-member-img {
  border-radius: 10%;
  width: 100px;
  height: 120px;
  margin-right: 20px;
  object-fit: fill;
}

.team-member-info h2 {
  margin: 0;
  color: #e6c068;
  font-size: 1.5em;
}

.team-member-info .rol {
  margin: 5px 0;
  color: #fff;
}

.company-mission {
  background-color: #2b2c34;
  padding: 20px;
  border-radius: 10px;
}

.company-mission h2 {
  color: #e6c068;
  margin-bottom: 10px;
}

.company-mission p {
  margin: 0;
}
